<div class="container">
    <h1 class="text-center">Add movie</h1>
    <div class="row">
        <div class="col-6 mx-auto">
            <form [formGroup]='form' (ngSubmit)="handleSubmit()">
                <div class="form-group">
                    <label for="">Tên Phim</label>
                    <input type="text" name="" class="form-control" formControlName="tenPhim">
                </div>
                <div class="form-group">
                    <label for="">Bí Danh</label>
                    <input type="text" name="" class="form-control" formControlName="biDanh">
                </div>
                <div class="form-group">
                    <label for="">Trailer</label>
                    <input type="text" name="" class="form-control" formControlName="trailer">
                </div>
                <div class="form-group">
                    <label for="">mô tả</label>
                    <input type="text" name="" class="form-control" formControlName="moTa">
                </div>
                <div class="form-group">
                    <label for="">Hình Ảnh</label>
                    <input type="file" name="" class="form-control-file" (change)="handleChange($event)">
                </div>
                <div class="form-group">
                    <label for="">Ngày Khởi Chiếu</label>
                    <input type="text" name="" class="form-control" formControlName="ngayKhoiChieu">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>